@mixin badge() {
  position: absolute;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
  font-size: 12px;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 20px;
}

.pet_item_container {
  padding: 10px;
  display: table;
  margin: auto;

  .pet_item_price {
    color: red;
  }

  .pet_item_title {
    font-weight: bold;
  }

  .pet_item_image {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    
    .pet_item_image_wrap {
      display: flex;
      justify-content: center;
      align-items: center;

      .pet_image {
        width: 100%;
        height: 100%;
      }
      .pet_no_image {
        width: 30vw;
        height: 30vw;
      }
    }

    .active {
      color: red;
    }
  }

  .pet_item_description {
    font-size: small;
    color: #bbbbbb;
  }

  .pet_item_date {
    font-size: small;
  }

  .pet_item_content {
    p {
      margin: 0;
      padding-bottom: 5px;
    }
  }

  .badge_shop {
    @include badge();
    background-color: skyblue;
  }

  .badge_not_shop {
    @include badge();
    background-color: skyblue;
  }

  .like_box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
  }
}
