.pet_item_image {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;

  .pet_item_image_wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .pet_image {
      width: 100%;
      height: 100%;
    }
    .pet_no_image {
      width: 30vw;
      height: 30vw;
    }
  }

  .active {
    color: red;
  }
}
