.container {
  min-height: calc(100vh - 120px);
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.inputArea {
  button {
    min-width: 80px;
    margin-left: 5px;
  }
}

.searchContainer {
  padding: 0 10px;
  button {
    width: 100%;
  }
}
.button {
  height: 45px;
  border: none;
  background-color: #2a68e5;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.picture {
  span {
    font-size: 12px;
    color: #aaa;
  }
}
.pictureChoice {
  width: 100px;
  height: 100px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 5px 0 20px;
}
.chooseFile {
  visibility: hidden;
}
.validText {
  margin-top: 5px;
  font-size: 12px;
  color: crimson;
}
.dFlex {
  display: flex;
}
.input_radios_wrap {
  align-items: center;
  padding: 10px 0;

  label {
    margin-right: 10px;
  }
}
.input_radio {
  margin-right: 5px;
  padding: 10px;
}