.container {
  min-height: 100vh;

  .pet_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .div_intersection_observer {
    width: 100%;
    min-height: 20px;
    background-color: white;
    border: none;
  }
}
