.formLayout {
  display: flex;
  flex-direction: column;
  margin: 10px;
  .nickname {
    width: 60%;
    border-radius: 5px;
    background-color: #dedede;
    border: none;
    margin-bottom: 5px;
    &::placeholder {
      color: #999999;
      padding-left: 10px;
      padding-top: 10px;
    }
  }
  .commentLayout {
    display: flex;
    .comment {
      border-radius: "5px";
      background-color: #dedede;
      border: none;
      &::placeholder {
        color: #999999;
        padding-left: 10px;
        padding-top: 10px;
      }
      flex: 1;
      width: 85%;
    }
    .button {
      border-radius: 5px;
      border: none;
      margin: 3px;

      background-color: #00aaff;
      color: white;
    }
  }
}
